  *, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Raleway', sans-serif;
}



.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}


table{
max-width: 500px;
color: #fff;
font-size: 1.2em;
border-width: thin;
border-color: #fff;
border-style:solid;


}

td{
  min-width: 130px;
  max-width: 250px;
  border-color: #fff;
  padding: 1% 1%;
  overflow-wrap:break-word;
  border-style: solid;
  border-width: thin;
  border-color:#fff;
}



button {
  width: 30%;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    margin: 2% 61%;
  }
